<div class="project__container {{ post.data.title }} {{ post.data.extra }}">
    <h1 class="project__title">{{ post.data.title }}</h1>
    <p class="project__status">{{ post.data.status }}</p>
</div>

