<div class="project__container" style="background-image: url({{ post.data.image }}); grid-area: {{ post.data.grid }}">
    <h1 class="project__title">{{ post.data.title }}</h1>
    <p class="project__status">{{ post.data.status }}</p>
</div>

