---
title: Studio Sossis
layout: 'base.njk'
---
      
<section class="showCase">
  <h1 class="studioSossis__Logo"></h1>
  <p class="studioSossis__Desc">
    Welkom op de website waar je al mijn projecten eens kan bekijken, zowel afgewerkt als ongoing.
  </p>
  <div class="tags">
    <h2 class="tags__title">Tags</h2>
    <ul class="tags__buttons">
      <span class="tag__icon">🐁 11ty</span>
      <span class="tag__icon">📑 NetlifyCMS</span>
      <span class="tag__icon">🖼️ three.js</span>
    </ul>
  </div>
    {%- for post in collections.projects -%}
    {% include 'article-snippet.njk' %}
    {%- endfor -%} 
</section> 


