---
title: Studio Sossis
layout: 'base.njk'
---
      
<section class="showCase">
  <h1 class="studioSossis__Logo"></h1>
  <div class="Introtekst">
    <p class="studioSossis__Desc">
    Welkom op de website waar je al mijn projecten eens kan bekijken, zowel <span class="tag__icon" value="afgewerkt" status="inactive">🎉 afgewerkt&ensp; <span>✕</span> </span> als <span class="tag__icon" value='ongoing' status="inactive">⏳ ongoing&ensp; <span>✕</span> </span>.
    </p>
    <div class="tags">
      <h2 class="tags__title">Tags</h2>
      <ul class="tags__buttons">
        <span class="tag__icon" value="eleventy" status="inactive">🐁 11ty&ensp; <span>✕</span> </span>
        <span class="tag__icon" value="netlifyCMS" status="inactive">📑 NetlifyCMS&ensp; <span>✕</span> </span>
        <span class="tag__icon" value="threeJS" status="inactive">🖼️ three.js&ensp; <span>✕</span> </span>
        <span class="tag__icon" value="sensorAPI" status="inactive">🎾 sensor API&ensp; <span>✕</span> </span>
        <span class="tag__icon" value="socketIO" status="inactive">⚡ socket.io&ensp; <span>✕</span> </span>
        <span class="tag__icon" value="expressJS" status="inactive">🚄 express.js&ensp; <span>✕</span> </span>
        <span class="tag__icon" value="react" status="inactive">🧬 React&ensp; <span>✕</span> </span>
        <span class="tag__icon" value="dataVIS" status="inactive">📊 Data vis.&ensp; <span>✕</span> </span>
      </ul>
  </div>
  </div>
  <div class="clickCover"></div>
    {%- for post in collections.projects -%}
    {% include 'article-snippet.njk' %}
    {%- endfor -%} 
</section> 


