:root {
  --body__p: white;
  --background__darkbrown: #110e0a;
  --background__lightbrown: #201e1a;

  --p__size: 14pt;
  --h2__size: 16pt;
}

html {
  height: 100vw;
}

body {
  font-family: "Poppins";
  color: var(--body__p);
  background-color: #110e0a;
  padding-bottom: 25vh;
  overflow-y: hidden;
  background: repeating-linear-gradient(
      0deg,
      var(--background__lightbrown),
      var(--background__lightbrown) 0.2vh,
      transparent 0.2vh,
      transparent 10vh
    ),
    repeating-linear-gradient(
      90deg,
      var(--background__lightbrown),
      var(--background__lightbrown) 0.2vh,
      var(--background__darkbrown) 0.2vh,
      var(--background__darkbrown) 10vh
    );
}

.showCase {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw;
  grid-auto-rows: 10vw;
  gap: 1vw;
  margin-top: 5vh;
  margin-left: 17.5vw;
  margin-right: 17.5vw;
}

.studioSossis__Logo {
  height: 100%;
  background: url("/assets/studioSossisLogo.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  transition: 0.5s;
  grid-area: 1 / 1 / 2 / span 2;
}

.studioSossis__Desc {
  margin: 0vw;
  grid-area: 2 / 1 / 3 / span 2;
  color: var(--body__p);
  font-weight: 200;
  font-size: 14pt;
  line-height: 18pt;
  font-style: italic;
}

.tags {
  grid-area: 3 / 1 / 4 / span 2;
}

.tags__title {
  font-weight: 700;
  font-size: var(--h2__size);
}

.tags__buttons {
  margin-top: 2vh;
}

.tag__icon {
  padding: 2% 3% 2% 3%;
  background-color: var(--background__lightbrown);
  border-radius: 3vh;
  line-height: 28pt;
  white-space: nowrap;
}
