:root {
  --body__p: white;
  --background__darkbrown: #110e0a;
  --background__lightbrown: #201e1a;

  --p__size: 14pt;
  --h2__size: 16pt;
}

html {
  height: 100vh;
}

body {
  font-family: "Poppins";
  color: var(--body__p);
  background-color: #110e0a;
  padding-bottom: 25vh;
  overflow-y: scroll;
  background: repeating-linear-gradient(
      0deg,
      var(--background__lightbrown),
      var(--background__lightbrown) 0.2vh,
      transparent 0.2vh,
      transparent 10vh
    ),
    repeating-linear-gradient(
      90deg,
      var(--background__lightbrown),
      var(--background__lightbrown) 0.2vh,
      var(--background__darkbrown) 0.2vh,
      var(--background__darkbrown) 10vh
    );
  display: flex;
  justify-content: center;
}

.showCase {
  display: grid;
  width: 127vh;
  grid-template-columns: 15vh 15vh 15vh 15vh 15vh 15vh 15vh 15vh;
  grid-auto-rows: 15vh;
  gap: 2vh;
  margin-top: 5vh;
}

.studioSossis__Logo {
  height: 100%;
  background: url("/assets/StudioSossis/studioSossisLogo.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  transition: 0.5s;
  grid-area: 1 / 1 / 2 / span 2;
  transition: 0.4s;
}

.studioSossis__Logo:hover {
  background: url("/assets/StudioSossis/logo--hover.svg");
  transition: 0.4s;
  background-position: bottom;
  background-repeat: no-repeat;
}

.Introtekst {
  grid-area: 2 / 1 / span 4 / span 2;
}

.studioSossis__Desc {
  margin: 0vw;
  color: var(--body__p);
  font-weight: 200;
  font-size: 14pt;
  line-height: 20pt;
  font-style: italic;
}

.tags__title {
  margin-top: 2vh;
  font-weight: 700;
  font-size: var(--h2__size);
}

.tags__buttons {
  margin-top: 1vh;
}

.tags__buttons span {
  line-height: 24pt;
}

.tag__icon {
  font-size: 11pt;
  font-weight: 300;
  font-style: normal;
  padding: 1% 1% 1% 1%;
  background-color: var(--background__lightbrown);
  border: #332d2a 1pt solid;
  border-radius: 3vh;
  white-space: nowrap;
}

.Business {
  grid-area: 3 / 5 / span 1 / span 1;
  background-image: url("/assets/archive/hanafudaoneXone.svg");
}

.Business h1,
.Business p {
  display: none;
}

.Magpie {
  grid-area: 1 / 8 / span 1 / span 1;
  background-image: url("/assets/archive/magpieoneXone.svg");
}

.Magpie h1,
.Magpie p {
  display: none;
}

.Comute {
  grid-area: auto / auto / span 1 / span 2;
  background-image: url("/assets/archive/comutetwoXone.svg");
}

.Periodic {
  grid-area: 3 / 3 / span 1 / span 2;
  background-image: url("/assets/archive/PTSCtwoXone.svg");
}

.Sossis {
  grid-area: 1 / 3 / span 2 / span 3;
  background-image: url("/assets/studioSossis/StudioSossisthreeXtwo.svg");
}

.tennis {
  grid-area: auto / auto / span 2 / span 3;
  background-image: url("/assets/10nis/10nisthreeXtwo.svg");
}

@media (max-width: 1050px) {
  .showCase {
    width: 112.5vh;
    grid-template-columns: 15vh 15vh 15vh 15vh 15vh 15vh 15vh;
  }

  .Magpie {
    grid-area: 3 / 6 / span 1 / span 1;
  }

  .Magpie h1,
  .Busines p {
    display: none;
  }

  .Business {
    grid-area: 3 / 7 / span 1 / span 1;
  }

  .Periodic {
    grid-area: 2 / 6 / span 1 / span 2;
  }

  .tennis {
    grid-area: 3 / 3 / span 2 / span 3;
  }
}

@media (max-width: 900px) {
  .showCase {
    width: auto;
    grid-template-columns: 15vh 15vh 15vh 15vh 15vh;
  }

  .Magpie {
    grid-area: 5 / 3 / span 1 / span 1;
  }
  .Magpie h1,
  .Busines p {
    display: none;
  }

  .Comute {
    grid-area: 6 / 3 / span 1 / span 2;
  }

  .Business {
    grid-area: 6 / 5 / span 1 / span 1;
  }

  .Business h1,
  .Busines p {
    display: none;
  }

  .Periodic {
    grid-area: 5 / 4 / span 1 / span 2;
  }
}

@media (orientation: portrait) {
  .showCase {
    width: auto;
    grid-template-columns: 25vw 25vw 25vw;
    grid-auto-rows: 25vw;
  }

  .studioSossis__Logo {
    grid-area: 1 / 1 / span 2 / span 3;
  }

  .Introtekst {
    grid-area: 3 / 1 / span 2 / span 3;
  }

  .Sossis {
    grid-area: 5 / 1 / span 2 / span 3;
  }

  .tennis {
    grid-area: 7 / 1 / span 2 / span 3;
  }

  .Periodic {
    background-image: url("/assets/archive/PTSCthreeXtwo.svg");
    grid-area: 9 / 1 / span 2 / span 3;
  }

  .Magpie {
    background-image: url("/assets/archive/magpiethreeXtwo.svg");
    grid-area: 11 / 1 / span 2 / span 3;
  }

  .Magpie h1,
  .Magpie p {
    display: block;
  }

  .Comute {
    background-image: url("/assets/archive/comutethreeXtwo.svg");
    grid-area: 13 / 1 / span 2 / span 3;
  }

  .Business {
    background-image: url("/assets/archive/hanafudathreeXtwo.svg");
    grid-area: 15 / 1 / span 2 / span 3;
  }

  .Business h1,
  .Business p {
    display: block;
  }
}

@media (max-width: 390px) {
  .showCase {
    width: auto;
    grid-template-columns: 25vw 25vw 25vw;
    grid-auto-rows: 25vw;
  }

  .studioSossis__Logo {
    grid-area: 1 / 1 / span 2 / span 3;
  }

  .Introtekst {
    grid-area: 3 / 1 / span 3 / span 3;
  }

  .Sossis {
    grid-area: 6 / 1 / span 2 / span 3;
  }

  .tennis {
    grid-area: 8 / 1 / span 2 / span 3;
  }

  .Periodic {
    background-image: url("/assets/archive/PTSCthreeXtwo.svg");
    grid-area: 10 / 1 / span 2 / span 3;
  }

  .Magpie {
    background-image: url("/assets/archive/magpiethreeXtwo.svg");
    grid-area: 12 / 1 / span 2 / span 3;
  }

  .Magpie h1,
  .Magpie p {
    display: block;
  }

  .Comute {
    background-image: url("/assets/archive/comutethreeXtwo.svg");
    grid-area: 14 / 1 / span 2 / span 3;
  }

  .Business {
    background-image: url("/assets/archive/hanafudathreeXtwo.svg");
    grid-area: 16 / 1 / span 2 / span 3;
  }

  .Business h1,
  .Business p {
    display: block;
  }
}
